@import "tailwindcss";

@theme {
  --font-title: Montserrat, sans-serif;
  --font-body: Poppins, sans-serif;

  --color-darkBg: #0f1415;
  --color-lightBg: #eaeff0;
  --color-lightText: #e5f3f5;
  --color-darkText: #0a181a;

  --color-primary: #90d6e4;
  --color-secondary: #197386;
  --color-accent: #32c9e7;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

section {
  @apply w-full px-4 py-5 md:px-12 md:py-8 lg:px-30;
}
